


.header {
    grid-area: header;
    position: sticky;
    left: 0;
    top: 0;
    align-items: center;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .logo {
        
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 32px;
            }
        }
    }
    .h_util {
        position: absolute;
        right: 10px;
        
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        
        
        
        .h_btns {
            margin-left: 20px;
            font-size: 18px;
            display: flex;
            gap: 0;
            .h_btn {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #393939;
                transition: background-color .2s ease-in-out;
                &.ty_notice {
                    position: relative;
                    font-size: 20px;
                    &.on {
                        i {
                            animation: alert 1.2s ease infinite;
                        }
                        
                        &::before {
                            content:'';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: $c_red;
                            color: #fff;
                            right: 4px;
                            top: 4px;
                            //animation: alert 0.4s ease infinite ;
                        }
                        &::after {
                            content:'';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: $c_red;
                            color: #fff;
                            right: 4px;
                            top: 4px;
                            //animation: alert 1s 0.4s ease infinite ;
                        }
                    }
                }
            }
        }
    }
    .f_alert {
        &_box {
            width: calc(100% - 40px);
            max-width: 400px;
            background-color: #fff;
            border-radius: 0 0 0 10px;
            //box-shadow: 0 0 20px rgba(#000,.2);
            position: fixed;
            right: calc(-100% + 40px);
            top: 60px;
            background-color: $c_bg;
            border: 1px solid $c_line;
            border-right: none;
            overflow: hidden;
            transition: all .4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
            &::before {
                content: '';
                position: fixed;
                width: 100vw;
                height: 100vh;
                left: 0;
                top: 60px;
                z-index: -1;
                background-color: rgba(#000,.23);
            }
            &.on {
                right: 0;
                opacity: 1;
                visibility: visible;
            }

            .no_result_box {
                height: 200px;
                border-top: 1px solid $c_line;
                
                i {
                    color: #393939;
                }

                &.all_read {
                    display: none;
                }
            }
            
            &.all_read {
                .no_result_box.all_read {
                    display: flex;
                }
                .f_alert_list {
                    display: none;
                }
            }
        }
        &_top {
            display: flex;
            //justify-content: space-between;
            align-items: center;
            height: 50px;
            padding: 0 15px;
            background-color: #fff;
            .tit {
                font-size: 18px;
                font-weight: 500;
            }
           
        }
        &_close {
            background-image: url(../images/common/ico_close.svg);
            background-repeat: no-repeat;
            background-position: center center;
            width: 30px;
            height: 30px;
            right: 24px;
            top: 24px;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
        &_list {
            height: calc(100vh - 150px);;
            border-top: 1px solid $c_line;
            overflow-y: auto;
            padding: 15px 10px ;
            background-color: $c_bg;
            @include  scrollY;
            //background-color: #fff;
        }
        &_link {
            display: flex;
            align-items: center;
            padding: 15px 17px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(#000, .1);
            transition: all .2s ease-in-out;
            position: relative;
            &:hover {
                box-shadow: 0 0 16px rgba(#000, .3);
                background-color: rgb(255, 250, 234);
            }
        }
        &_item {
            font-size: 12px;
            line-height: 17px;
            position: relative;
            //border-bottom: 1px solid $c_line;
            // &:last-child {
            //     border-bottom: none;
            // }
            & + .f_alert_item {
                margin-top: 10px;
            }
            i {
                width: 54px;
                height: 54px;
                border-radius: 50%;
                background-color: $c_bg_grey;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
            }

           
            &::before {
                content:'';
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $c_key;
                left: 17px;
                top: 15px;
                z-index: 10;
            }
            &.read {
                &::before {
                    display: none;
                }
            }
           
            .txt_box {
                padding-left: 10px;
                .date {
                    color: #777;
                    display: block;
                    text-align: left;
                    margin-bottom: 4px;
                    font-weight: 500;
                }
                .desc {
                    @include text-hidden(2, 17px, auto) 
                }
            }
            
        }
    }
}

@keyframes alert {
    0% {
        transform: rotate(0);
    }
    40% {
        transform: rotate(0);
    }
    45% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    55% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    65% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}
  
.sidenav {
    
    position: fixed;
    transform: translateX(-260px);
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100vh;
    width: 260px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(#000, .15);
    //border-right: 1px solid $c_line;
    padding: 15px 10px 30px;
    box-sizing: border-box;
    transition: transform .3s ease-in-out;

    &.on {
        transform: translateX(0);
        .btn_nav_toggle {
            i {
                transform: rotate(0);
            }
            background-color: $c_key;
            color: #fff;
        }
        
        
       
    }

    .btn_nav_toggle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 0 5px 5px 0;
        background-color: #fff;
        left: 100%;
        
        z-index: 99;
        top: 14px;
        box-shadow: 0 0 6px rgba(#000, .15);
        font-size: 16px;
        transition: all .2s ease-in-out;
        
        i {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(180deg);
        }
       

    }
    // &::after {
    //     content: '';
    //     position: absolute;
    //     width: 30px;
    //     height: 60px;
    //     background-color: #fff;
    //     left: 245px;
    //     top: 0;
    // }
    .c_info {
        padding: 10px 10px;
        flex-direction: column;
        box-sizing: content-box;
        background-color: $c_bg;
        text-align: center;
        .logo {
            height: 40px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
               //object-position: left center;
            }
        }
        .name {
            font-weight: 500;
            color: #222;
            font-size: 14px;
            margin-top: 4px;
            line-height: 1;
        }
    }


    &_top {
        width: 200px;
        margin: 0 auto;
       border-radius: 10px;
       overflow: hidden;
        min-height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 10px;
        .img_box {
            width: 130px;
            min-height: 45px;
            //height: 45px;
            //background-color: rgba($c_key, .1);
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &:hover {
            .btn_add_logo {
                display: block;
            }
        }
        .btn_add_logo {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(#000,.2);
            left: 0;
            top: 0;
            z-index: 10;
            color: #fff;
            font-size: 30px;
        }
    }
    .msg_box {
        
        text-align: center;
        font-size: 14px;
        b {
            word-break: break-all;
        }
    }

    .nav {
        margin-top: 15px;
        &_dep2 {
            //visibility: hidden;
            &_box {
                overflow: hidden;
                max-height: 0;
                transition: all .25s ease;
            }
            
            background-color: rgba($c_key, .05);
            box-sizing: border-box;

            
            padding: 10px 0;
        }

        &_item {
            &.on {
                .nav_dep2 {
                    //visibility: visible;
                    &_box {
                        overflow: hidden;
                        max-height: 150px;
                    }
                }
                .btn_dep1 {
                    color: $c_key;
                    background-color: rgba($c_key, .12);
                    &::before { 
                        top: 0;
                        bottom: 0;
                    }
                    .ico_dep1 {
                        &.ty_menu1 {
                            background-image: url(../images/common/ico_menu1_on.svg);
                         }
                         &.ty_menu2 {
                             background-image: url(../images/common/ico_menu2_on.svg);            
                         }
                         &.ty_menu3 {
                             background-image: url(../images/common/ico_menu3_on.svg);          
                         }
                         &.ty_menu4 {
                             background-image: url(../images/common/ico_menu4_on.svg);
                         }
                         &.ty_menu5 {
                             background-image: url(../images/common/ico_menu5_on.svg);
                         }
                         &.ty_menu6 {
                             background-image: url(../images/common/ico_menu6_on.svg);
                         }
                    }
                    &::after { 
                        color: $c_key;
                        transform: rotate(180deg);
                    }
                }
                
            }
        }
        .btn_dep1 {
            display: flex;
            width: 100%;
            align-items: center;
            font-size: 16px;
            padding: 0 20px;
            height: 54px;
            position: relative;
            transition: all .25s ease;
            &::before {
                position: absolute;
                left: 0;
                top: 50%;
                bottom: 50%;
                content: '';
                width: 4px;
                
                background-color: $c_key;
                transition: all .25s ease;
            }
            .ico_dep1 {
                font-style: normal;
                margin-right: 10px;
                font-size: 20px;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center center;
                transition: all .25s ease;
                
                &.ty_menu1 {
                   background-image: url(../images/common/ico_menu1.svg);
                }
                &.ty_menu2 {
                    background-image: url(../images/common/ico_menu2.svg);            
                }
                &.ty_menu3 {
                    background-image: url(../images/common/ico_menu3.svg);          
                }
                &.ty_menu4 {
                    background-image: url(../images/common/ico_menu4.svg);
                }
                &.ty_menu5 {
                    background-image: url(../images/common/ico_menu5.svg);
                }
                &.ty_menu6 {
                    background-image: url(../images/common/ico_menu6.svg);
                }

            }
            &::after {
                transition: all .25s ease;
                content: '\f078';
                @include fa;
                margin-left: auto;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: $c_lightGrey;
            }
        }
        .btn_dep2 {
            display: flex;
            height: 42px;
            align-items: center;
            color: #777;
            font-size: 14px;
            padding: 0 20px;
            &::after {
                content:''
            }
            &:hover {
                background-color: rgba($c_key, .06);
                font-weight: 500;
            }
            &.on {
                color: $c_key;
                font-weight: 500;
            }
        }
    }
}
.grid-container {
    .container {
        padding: 20px 15px 30px;
        grid-area: main;
        min-width: 0;
    }
}
  

 

.tab_nav {
    position: relative;
    //overflow: hidden;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_toggle {
        position: absolute;
        right: 30px;
        top: 10px;
        font-size: 24px;
        line-height: 0;
        color: #333;
    }

    &.off {
        .tab_nav_list {
            display: none;
        }
        .tab_nav_toggle {
            transform: rotate(180deg);
        }
    }

    &_ctrl {

        display: flex;
        padding: 10px 0;
        padding-left: 30px;
        background-color: $c_bg;
        flex-shrink: 0;
        gap: 10px;
        position: relative;
        z-index: 10;
        // &::before {
        //     content: '';
        //     position: absolute;
        //     width: 30px;
        //     height: 100%;
        //     top: 0;
        //     right: 100%;
        //     background: linear-gradient(90deg, rgba(249,249,249,0) 0%, rgba(249,249,249,1) 100%);
        // }
        &_btn {
            width: 30px;
            height: 30px;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0 4px 10px rgba(#000, .3);
            font-size: 14px;
            color: #666;
        }
    }

    &_list {
        overflow: hidden;
        min-width: 0;
        flex: 1;
        padding: 10px 0;
    }
    
    &_item {
        position: relative;
        width: fit-content;
        background-color: rgba($c_solidGrey, .5);
        transition: background-color .1s ease-in-out;
        height: 34px;
        border-radius: 17px;
        box-shadow: 1px 1px 2px rgba(#000, 0.3);
        margin-right: 10px;
        .del_item {
            position: absolute;
            right: 2px;
            top: 50%;
            width: 26px;
            height: 26px;
            margin-top: -13px;
            background-image: url(../images/common/ico_x_w.svg);
            background-position: center center;
            background-size: 15px;
            background-repeat: no-repeat;
        }
        &.on { 
            background-color: rgba($c_solidGrey, 1);
            &:hover {
                background-color: rgba($c_solidGrey, 1);
            }
        }
        
        &:hover {
            background-color: rgba($c_solidGrey, .7);
        }
    }
    &_link {
        display: block;
        
        
        color: #fff;
        height: 34px;
        font-size: 13px;
        white-space: nowrap;
        padding: 0 12px;
        padding-right: 26px;
        
        &.ty_main {
            padding-right: 12px;
            width: 34px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }

 }


.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 16px;
    color: #aaa;
    a {
        display: block;
    }
    &_item {
        display: flex;
        align-items: center;
        & + & {
            &::before {
                content:"\f054";
                font-family: "Font Awesome 6 Free";
                font-weight: bold;
                margin: 0 4px;
                transform: translateY(1px);
            }
        }
        
    }
}
 
.tit {
    &1 {
        font-size: 18px;
        font-weight: bold;
    }
    &2 {
        font-size: 16px;
        font-weight: bold;
    }
    &3 {
        font-size: 14px;
        font-weight: bold;
    }
    &4 {
        font-size: 13px;
    }
}

.sub_tit {
    display: flex;
    align-items: flex-end;
    margin-bottom: 14px;
    &_btns {
        margin-left: auto;
    }
    & + .sec {
        margin-top: 0;
    }
    &2 {
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
    }
}

.container {
    .contents {
        padding: 20px 15px;
        padding-bottom: 30px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(#000, .15);
        position: relative;
        min-height: calc(100vh - 320px);
    }
    .top_tit {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #bbb;
        display: flex;
        align-items: center;
        .tit {
            font-size: 20px;
            line-height: 1.5;
            font-weight: bold;
            color: #222;
        }
        .btn_refresh {
            margin-left: 6px;
            
        }
        & + .sec {
            margin-top: 0;
        }
    }

    .sec {
        margin-top: 30px;
        &.mt0 {
            margin-top: 0;
        }
        &.mt20 {
            margin-top: 20px;
        }
        &.mt30 {
            margin-top: 30px;
        }
        &_tit {
            display: flex;
            align-items: flex-end;
            gap: 15px;
            margin-bottom: 15px;
            .tit {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}




.c_num {
    display: inline-block;
    padding-left: 13px;
    position: relative;
    &_ico {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    &_link {
        display: block;
        color: darken($c_blue, 15%) ;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
}

.bd_box {
    border: 1px solid $c_line;
}
.bg_box {
    background-color: $c_bg;
}
.withdrawal_box {
    border: 1px solid $c_line;
    background-color: $c_bg;
    height: 230px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i {
        font-size: 48px;
    }
}

.ico_required {
    color:rgb(249, 59, 59);   
    font-size: 10px;
    font-style: normal;
    display: inline-block;
    &::after {
        content: '\f621';
        font-family: 'Font Awesome 6 Free';
        font-weight: bold;
    }
    transform: translateY(-2px) scale(0.9);
}


.date_set {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px 4px;
    .f_select {
        margin-right: 4px;
    }
    .date_end {
        & + .f_btn {
            margin-left: 4px;
        }
    }
}

.scroll_area {
    overflow: auto;
    border: 1px solid $c_line;
}
.x_scroll_area {
    overflow-x: auto;
    border: 1px solid $c_line;
}
.y_scroll_area {
    overflow-y: auto;
    border: 1px solid $c_line;
    //@include scrollY;
}

.t_ellipsis1 {
    @include text-hidden-single
}

/* footer */
.footer {
    
    background-color: #444;
    color: rgba(#fff,.8);
    position: relative;
    z-index: 10;
    display: block;
    padding: 20px;
    font-size: 12px;
    line-height: 1.6;
    &_logo {
        margin-bottom: 20px;
        img {
            height: 34px;
        }
    }
    &_info {
        
        
        &_list {
            display: flex;
            flex-wrap: wrap;
            li {
                &:first-child {
                    width: 100%;
                } 
            
            }
        }
       
        .contact {
            margin-top: 10px;
            display: flex;
            align-items: center;
            b {
                font-weight: 500;
            }
            .bar {
                margin: 0 10px;
            }
        }
    }

    &_right {
        margin-left: auto;
        text-align: right;
        &_btns {
            display: flex;
            align-items: center;
            //justify-content: flex-end;
            margin-bottom: 10px;
            .bar {
                margin: 0 10px;
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &_branch {
            
            text-align: left;
            position: relative;
            margin-top: 15px;
            
            &.on {
                
                .branch_list {
                    opacity: 1;
                    bottom: 33px;
                    visibility: visible;
                }
                .btn_trigger {
                    border-color: $c_lightGrey;
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
            .btn_trigger {
                width: 100%;
                display: block;
                padding: 0 10px;
                font-size: 12px;
                color: #444;
                letter-spacing: -0.5px;
                height: 34px;
                background-color: $c_bg_grey;
                position: relative;
                z-index: 10;
                border: 1px solid $c_line;
                background-color: #fff;
                font-weight: 500;
                &::after {
                    content:'';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background-image: url(../images/common/arrow_select_box.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin-left: 10px;
                    opacity: 0.8;
                    transition: all .2s ease-in-out;
                }
            }
            .branch_list {
                visibility: hidden;

                opacity: 0;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                border: 1px solid $c_line;
                background-color: #fff;
                transition: all .2s ease-in-out;
                text-align: center;
                li {
                    & + li {
                        border-top: 1px dotted $c_line;
                    }
                }
                a {
                    display: block;
                    padding: 0 10px;
                    white-space: nowrap;
                    line-height: 34px;
                    color: #444;
                    font-weight: 500;
                    &:hover {
                        background-color: rgba($c_key, .1);
                    }
                }
            }
        }
    }
    .copy {
        margin-top: 10px;
        text-align: center;
    }
    
    .bar {
        width: 1px;
        height: 10px;
        background-color: rgba(#fff,.4);
        margin-right: 10px;
    }
} 

.search_details {
    
    border: 1px solid $c_line;
    border-left: none;
    border-bottom: none;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $c_line;
        left: 0;
        bottom: 0;
    }
    margin-top: 15px;
    &_wrap {
        display: none;
        &.on {
            display: block;
        }
    }
    &_sec {
        display: flex;
        flex-direction: column;
        height: 160px;
        flex: 1;
        border-left: 1px solid $c_line;
    }
    .tit {
        display: block;
        height: 32px;
        flex-shrink: 0;
        line-height: 32px;
        background-color: $c_solidGrey;
        text-align: center;
        color: #fff;
    }
    .list_wrap {
        flex: 1;
        overflow-y: auto;
        
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $c_key;
            border-radius: 5px;
            background-clip: padding-box;
            width: 100%;
            box-sizing: border-box;
            border: 2px solid transparent;
            
        }
        &::-webkit-scrollbar-track {
            background-color: $c_bg_grey;
            //border-left: 1px solid transparent;
        }
            
        .list {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 50%;
                &:nth-child(n + 3){
                    border-top: 1px dotted #e1e1e1;
                }
                &:nth-child(even){
                    border-left: 1px dotted #e1e1e1;
                }
            }
        }



        .item_option {
            display: flex;
            align-items: center;
            height: 100%;
            line-height: 1.5;
            
            padding: 4px 8px;
            width: 100%;
            text-align: left;
            font-size: 12px;
            letter-spacing: -0.3px;
            &:hover {
                background-color: rgba($c_key, .07);
            }
            &.on {
                font-weight: 500;
                color: $c_key;
                background-color: rgba($c_key, .14);
                // &::before {
                //     content: '\f054';
                //     font-family: "Font Awesome 6 Free";
                //     font-weight: bold;
                //     margin-right: 5px;
                //     font-size: 10px;
                // }
            }
        }
    }

    .price_detail_list {
        &.dep1 {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 50%;
                border-bottom: 1px solid $c_line;
                &:nth-child(odd) {
                    border-right: 1px solid $c_line;
                } 
            }
            .dep1_btn {
                position: relative;
                cursor: pointer;
                
                input[type="checkbox"] {
                    position: absolute;
                    opacity: 0;
                    z-index: -999;
                    &:checked ~ .txt_box {
                        background-color: rgba($c_key, .1);
                        color: $c_key;
                        font-weight: 500;
                    }
                }
                .txt_box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 40px;
                    height: 100%;
                    padding: 5px;
                    text-align: center;
                    font-size: 12px;
                }

            }
        }
        &.dep2 {
            display: flex;
            flex-wrap: wrap;
            li {
                min-width: 50%
            }
            .dep2_btn {
                display: flex;
                align-items: center;
                
                text-align: left;
                font-size: 12px;
                min-height: 40px;
                
                padding: 5px 15px;
                user-select: none;
                cursor: pointer;
                &_inner {
                    display: flex;
                    input[type="checkbox"] {
                        margin-top: 2px;
                        margin-right: 4px;
                    }
                }
            }
        }
        &.dep3 {
            display: flex;
            flex-wrap: wrap;
            padding: 15px;
            gap: 10px;
            .tag_box {
                display: flex;
                flex-wrap: nowrap;
                font-size: 12px;
                line-height: 18px;
                padding: 5px 12px;
                border-radius: 14px;
                background-color: rgba($c_key, .1);
                gap: 0;
                color: $c_key;
                font-weight: 500;
                .btn_del4 {
                    flex-shrink: 0;
                    margin-left: 2px;
                }
            }
        }
    }
}


.no_result_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    color: #222;
    height: 120px;
    padding: 10px;
    &.ty_bg {
        background-color: $c_bg_grey;
    }

    i {
        font-size: 36px;
        color: #bebebe;
    }
}


/* layout */
.container {
    &.ty_main {
        padding-bottom: 0;
    }
}

.inner {

    padding: 0 30px;
}


.bar {
    display: inline-block;
    width: 1px;
    &.ty_small {
        height: 14px;
        //margin: 0 6px;
        background-color: $c_line;
    }
}

.eq_detail_top {

    .img_box {
        width: 100%;
        padding-top: 69.23%;
        flex-shrink: 0;
        
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .input_file {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            z-index: -9999;
        }
        &_edit {
            position: absolute;
            right: 0;
            top: 0;
            background-color: rgba(0,0,0,.4);
            border-radius: 0 0 0 6px;
            color: #fff;
            padding: 4px 6px;
            display: flex;
            gap: 4px;
            z-index: 10;
            &_btn {
                cursor: pointer;
                font-size: 14px;
                width: 20px;
                height: 20px;
            }
        }

        .btn_img_upluad {
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $c_bg_grey;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            i {
                color: $c_lightGrey;
                font-size: 50px;
            }
            p {
                color: $c_lightGrey;
                margin-top: 5px;
                font-size: 12px;
            }
        }
    }
    .v_tbl_wrap {
        margin-top: 10px;
    }
}



.img_box {
    &.ty_upload {
        display: inline-block;
        vertical-align: top;
        width: 210px;
        height: 140px;
        box-sizing: content-box;
        flex-shrink: 0;
        border: 1px solid $c_line;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        &.ty_logo {
            display: block;
            width: 260px;
            height: auto;
            min-height: 90px; 
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .input_file , .input_img_upluad {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            z-index: -9999;
        }
        .btn_img_upluad {
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $c_bg_grey;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            i {
                color: $c_lightGrey;
                font-size: 40px;
            }
            p {
                color: $c_lightGrey;
                margin-top: 5px;
                font-size: 12px;
            }
        }
    }
    
    &_edit {
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(0,0,0,.4);
        border-radius: 0 0 0 6px;
        color: #fff;
        padding: 4px 6px;
        display: flex;
        gap: 4px;
        &_btn {
            cursor: pointer;
            font-size: 14px;
            width: 20px;
            height: 20px;
        }
    }

    
}