.mList {
    &_item {
        font-size: 12px;
        
        
        & + & {
            margin-top: 14px;
        }
        
    }
    &_inner {
        box-shadow: 0 4px 4px rgba(#000,.04);
        display: flex;
        gap: 6px 0;
        flex-direction: column;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid $c_line;
        background-color: #fff;
    }
    &_sec {
        & + & {
            padding-top: 5px;
            border-top: 1px dashed $c_line;
        }
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &.jc_sb {
            justify-content: space-between;
        }
        &.jc_sa {
            justify-content: space-around;
        }
        @for $i from 1 through 10 {
            &._gap#{$i} {
                gap : #{$i}px
            } 
            &._gapX#{$i} {
                column-gap : #{$i}px;
            } 
            &._gapY#{$i} {
                row-gap : #{$i}px
            } 
        } 
        
    }
    &_top {
        .num {
            font-weight: bold;
        }
    }
    .btn_link {
        color: $c_blue;
        font-weight: 500;
        text-decoration: underline;
    }
    &_prod {
        display: block;
        
    }
}