.paging {
    &_wrap {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        &.mt10 {
            margin-top: 10px;
        }
    }
    &_btn {
        display: block;
        min-width: 26px;
        height: 26px;
        //padding: 0 4px;
        box-sizing: border-box;
        border-radius: 13px;
        line-height: 24px;
        font-size: 12px;
        padding: 0 3px;

        color: #999;
        font-family: 'Roboto';
        
        flex-shrink: 0;
        border: 1px solid transparent;
        &:hover {
            color: #222;
            font-weight: 500;
        }
        &.current {
            border: 1px solid $CBrand;
            color: $CBrand;
            font-weight: bold;
            
        }
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 26px;
        
        &.paging_nav {
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
        
        &.ty_first {
            background-image: url(../images/common/paging_first.svg);
        }
        &.ty_prev {
            background-image: url(../images/common/paging_prev.svg);
           
        }
        &.ty_next {
            background-image: url(../images/common/paging_next.svg);
           
        }
        &.ty_last {
            background-image: url(../images/common/paging_last.svg);
        }
    }
    &_list {
        display: flex;
        gap: 2px;
        margin: 0 4px;
    }
}